<body>
    <h1>Práctica 2 DAI: Django Framework</h1>
    <ol>
        <li> <a href="Query1/">Consulta 1: Electrónica entre 100 y 200€, ordenados por precio</a> </li>
        <li> <a href="Query2/">Consulta 2: Productos que contengan la palabra 'pocket' en la descripción</a> </li>
        <li> <a href="Query3/">Consulta 3: Productos con puntuación mayor de 4</a> </li>
        <li> <a href="Query4/">Consulta 4:Ropa de hombre, ordenada por puntuación </a> </li>
        <li> <a href="Query5/">Consulta 5: Facturación total</a> </li>
        <li> <a href="Query6/">Consulta 6: Facturación por categoría de producto</a> </li>
    </ol>
</body>
